.dealedit-container {
    min-height: 100vh;
    width: 100%;
    margin: 0 !important;
    background: #EAEAEA;
}

.dealedit-left-col {
	margin: 110px 0px 3px 0px;
	width: calc(100%);
}

.de-bottom-row {
	width: 100%;
}

.dealedit-summary {
	background-color: white;
	padding: 10px 20px 0px 20px;
	margin-bottom: 10px;
	overflow: auto;
	border-style: solid;
	border-width: 0.5px;
	border-color: #CACACA;
	box-shadow: 1px 1px 3px #CACACA;
	height: 280px;
}

.de-innerbox {
	margin: 5px 5px 0 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.de-split {
	width: calc(48% - 5px);
}

.de-full {
	width: 100%;
}

.de-float-left {
	float: left;
}

.de-margin-right {
	margin-right: 30px;
}

.bold {
	font-weight: bold;
}

.text-left {
	text-align: left;
	padding-left: 0px;
}

.dealedit-boxtitle {
	font-size: 14px;
	font-weight: bold;
	color: #22672A;
}

.de-dropdown {
	margin-left: 5px;
}

.dealedit-table {
	display: flex;
	max-width: 300px;
	margin-left: 20px;
}

.negotiationtable {
	display: flex;
	margin-left: 0;
	padding-bottom: 10px;

}

.inputbox {
	padding-left: 5px;
	margin-left: 5px;
	max-width: 200px;
	min-width: 100px;
}

.plugbutton {
	width: 100px;
}

.negotiation-detail {
	background-color: white;
	flex: 1 100%;
	float: left;
	padding: 10px 20px 10px 20px;
	overflow: auto;
	border-style: solid;
	border-width: 0.5px;
	border-color: #CACACA;
	box-shadow: 1px 1px 3px #CACACA;
}

.dealedit-right-col {
	float: right;
	margin-top: 110px;
	margin-right: 0px;
	margin-left: 0px;
	width: calc(35% - 5px);
}

.dealedit-files {
	background-color: white;
	flex: 1;
	padding: 10px 20px 10px 20px;
	overflow: auto;
	height: 280px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 0.5px;
	border-color: #CACACA;
	box-shadow: 1px 1px 3px #CACACA;
}

.subtitle {
	margin-left: 20px;
	font-weight: bold;
}

.btn {
	float: left;
	border: 2px solid #22672A;
	border-radius: 5px;
	background-color: white;
	padding: 3px 10px 3px 10px;
	margin-right: 15px;
}

.btn:hover {
	background-color: #22672A;
	color: white;
}

.buttons {
	display: flex;
	justify-content: flex-start;
	margin: 5px 0px 10px 5px;
}

.active {
	background-color: #BFD6C2 !important;
}

.title {
	font-size: 13px;
}

.de-toprow {
	margin-top: 50px;
}

.de-small {
	width: 50px;
}

.de-mid {
	width: 150px;
}

.de-big {
	width: 200px;
}

.de-rows {
	height: 25px;
	font-size: 13px;
}

.de-titlerow {
	background-color: white !important;
	color: #22672A !important;
	border-bottom: 1px solid #CACACA;
	height: 40px;
	margin-bottom: 40px;

}

.tr {
	border-bottom: 1px solid #EAEAEA;
}

.tr:hover {
	background-color: #EAEAEA;
}

.de-left {
	text-align: left;
	padding-left: 10px;
}
