.container {
    min-height: 100vh;
    width: 100%;
    margin: 0 !important;
    background: #EAEAEA;
}

.dealslist {
	margin: 120px 10px 10px 10px;
	background-color: white;
	flex: 1;
	padding: 20px;
	overflow: auto;
	border-style: solid;
	border-width: 0.5px;
	border-color: #CACACA;
	box-shadow: 1px 1px 3px #CACACA;
}
